/*
  CSS-dokument för projektarbetet för WCM17 team 1.
*/
html {
  font-family: 'Indie Flower', cursive;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background: #fff;
}
h1 {
  font-family: 'Kalam', cursive;
  margin: 0;
}
.container {
  width: 820px;
  margin: 0 auto;
}
header {
  background: #313131;
  color: #fff;
  margin-bottom: 35px;
}
header .container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}
.header-logo h1 {
  padding: 5px 0 5px 0;
}
nav {
  display: block;
}
nav ul {
  list-style: none;
  padding: 0;
  float: right;
}
nav ul li {
  display: inline;
}
nav ul a {
  color: #fff;
  padding: 5px 6px;
}
nav ul a:hover {
  border-radius: 5px;
  background: #b4ddc5;
  color: #000;
  text-decoration: none;
}
main h1 {
  color: #b4ddc5;
}



/* CSS för footer */
footer {
  background: #313131;
  overflow: hidden;
  padding-top: 25px;
  margin-top: 40px;
}
.row:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.columnLeft {
	width: 30%;
	color: white;
	display: inline-block;
	font-size: 15px;
	float: left;
	text-align: center;
}
.columnLeft img {
  width: 100px;
  margin: 0 auto;
}
.columnCenter {
	width: 30%;
	color: white;
	display: inline-block;
  float: left;
	font-size: 15px;
	text-align: center;
}

.columnRight {
	width: 30%;
	color: white;
	display: inline-block;
	font-size: 15px;
	float: right;
	text-align: center;
}

.copyright {
	background-color: #b4ddc5;
	height: 30px;
	font-size: 18px;
	text-align: center;
  color: black;
}
footer h2 {
  margin-top: 0;
}
ul {
  padding: 0;
}
li {
	list-style: none
}

/* Slut på CSS för footer*/
